// Заголовки, общие БЄМ блоки и проче...
.button {
  font-weight: 500;
  font-size: rem(16);
  line-height: math.div(24, 16);
  padding: 12px 24px;
  border-radius: 24px;
}

.blue-bg {
  background: url("@img/Banner.png") center bottom / cover no-repeat;
  @media (max-width: $mobile) {
    background: linear-gradient(0deg, #4034f3 23.96%, #7ba7f6 100%);
  }
}
.red-bg {
  background: url("@img/baner-red.png") center bottom / cover no-repeat;
  @media (max-width: $mobile) {
    background: linear-gradient(0deg, #f22c4d 23.96%, #f67e93 100%);
  }
}
.yellow-bg {
  background: url("@img/yellow-baner.png") center bottom / cover no-repeat;
  @media (max-width: $mobile) {
    background: linear-gradient(0deg, #ffd276 23.96%, #ffc54d 100%);
  }
  .main__button {
    background-color: #f22c4d;
    color: #fff;
    @media (any-hover: hover) {
      &:hover {
        background-color: #f33f5c;
        transition: all 0.3s ease 0s;
      }
    }
  }

  .main__title,
  .main__sub-text {
    color: #0d1d33;
  }
}
